body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cecdf1;
  }
  h1 {
    font-size: 16px;
    color: #000099;
  }
  span{
    color:#ff0000;
  }
  p.firstPara{
    text-indent: 100px;
  }
  #footer {
  color: #0066CC;
  background-color: #CCCCCC;
  font-size: 10px;
  text-align: center;
  }